* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f4f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #102a43;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.special {
  color: #3b82f6;
}

.logo {
  position: relative;
}

.logo,
.user-board {
  padding: 20px;
  height: 70px;
  margin: 20px 0px 50px 0px;
  width: 50%;
}
.title {
  color: #3b82f6;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 150px;
}

.title::before {
  content: 'J';
  width: 50px;
  height: 50px;
  background-color: #3b82f6;
  position: absolute;
  left: -60px;
  top: -10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  line-height: 50px;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.user-board {
  width: 50%;
  text-align: right;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
.user-board a {
  display: inline;
}
.container {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  max-width: 50%;
  line-height: 30px;
}
.content h1 {
  margin: 30px 0px;
  font-size: 3rem;
}
.content p {
  color: #486581;
  width: 80%;
}
.btn {
  margin: 20px 0px;
  padding: 10px;
  display: block;
  background-color: #3b82f6;
  color: white;
  width: 150px;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}
.img {
  background: url('../images/main.svg') center/contain no-repeat;
  width: 50%;
  height: 500px;
}

a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

/* Login page CSS */
form,
#page-msg {
  margin: 0 auto;
  width: 50%;
  height: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 4px 4px 6px gray;
  height: fit-content;
}

form h3#title {
  text-align: center;
  margin: 20px 0px;
  position: relative;
}

.form-btn {
  background-color: #3b82f6;
  color: white;
  display: block;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

form input,
form label {
  display: block;
  border: none;
  width: 100%;
  margin: 20px 0px;
  padding: 0px 20px;
}

form input {
  height: 30px;
}

form input:focus {
  outline: none;
  box-shadow: 2px 2px 6px gray;
}

p.msg {
  font-size: small;
  text-align: center;
}

.err-msg {
  background-color: rgb(255, 194, 194);
}

#page-msg {
  height: 300px;
  font-size: larger;
  line-height: 250px;
  text-align: center;
}
#page-msg > a:link,
#page-msg > a.active,
#page-msg > a:visited {
  color: #3b82f6;
}

#info,
.info {
  padding: 10px 20px;
  text-align: center;
}

.info-msg {
  background-color: rgb(195, 243, 195);
}

.job-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0px;
  justify-content: center;
}

.job-card {
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 4px 4px 6px gray;
  position: relative;
}

.date {
  position: absolute;
  right: 0;
  top: 3px;
  padding: 5px;
  background-color: #3b82f6;
  font-size: small;
  color: white;
}

.position {
  margin: 20px 0px 2px;
}
.company {
  font-size: smaller;
  background-color: lightgray;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 2px 0px 20px;
}

.status {
  position: absolute;
  right: 20px;
  color: #3b82f6;
  bottom: 20px;
  font-size: smaller;
}

.job-card > a:link,
.job-card > a:active,
.job-card > a:hover,
.job-card > a:visited {
  text-decoration: none;
  font-size: smaller;
}

.del-btn {
  color: rgb(151, 44, 44);
}

.edit-btn {
  color: rgb(13, 59, 13);
}

.dashboard-btn {
  width: fit-content;
  text-align: center;
  margin: 20px auto;
}

.status-select {
  display: block;
  border: none;
  width: 50%;
  margin: 20px 0px;
  padding: 0px 20px;
  height: 30px;
}

option:hover {
  background-color: #3b82f6 !important;
  color: white !important;
}
